@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');


@layer base {
    body{
        @apply bg-[#0D0D2B] text-[#FFFFFF] tracking-wide
    }

    html{
        scroll-behavior: smooth;
    }
}

* {
    font-family: 'Rubik', sans-serif;
}

a{
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
